<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Test Entity Search</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Entities</h2>
    <div class="my-3">
        <form th:action="@{/}" id="searchForm">
            <input id="query" type="search" name="query" th:value="${query}" required
                       placeholder="Enter query.."/>
            <button type="submit" class="float-right">Search</button>
            <div class="row d-flex">
                <div class="col-md-3 input-group mt-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="pageSize">Entities per page:</label>
                    </div>
                    <select form="searchForm" name="size" th:value="${pageSize}" onchange="changeSize()" class="size-select"
                            id="pageSize">
                        <option th:each="s : ${ {5, 10, 15} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${not #lists.isEmpty(entities)}">
        <table class = "table table-striped table-responsive-xl">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entities}">
                <td th:text = "${entity.name}"></td>
                <td><img th:src="${entity.url}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${ #lists.isEmpty(entities)}">
        <span>Unable to find any entities...</span>
    </div>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{paging :: paging(1, '<<', 'First Page')}"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="~{paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
            </li>
        </ul>
    </nav>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
    function changeSize() {
      $("#searchForm").submit();
    }
  </script>
</body>
</html>